<div class="main-content-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngIf="(logObservable | async) as log">
                    <mat-card>
                    <mat-card-header>
                            <mat-card-title>Date: {{log.data | date:'yyyy-dd-mm h:mm:ss.SSS'}}</mat-card-title>
                            <mat-card-subtitle>IP: {{log.ip}}</mat-card-subtitle>
                            <mat-card-subtitle>Request: {{log.request}}</mat-card-subtitle>
                            <mat-card-subtitle>Status: {{log.status}}</mat-card-subtitle>
                            <mat-card-subtitle>Agent:  {{log.agent}}</mat-card-subtitle>


                    </mat-card-header>
                    <mat-card-actions>
                        <button mat-button (click)="goBack($event)">VOLTAR</button>
                        <button mat-button (click)="onEdit($event, log)">ALTERAR</button>
                        <button mat-button (click)="onConfirmRemove($event, log)">REMOVER</button>
                    </mat-card-actions>
                </mat-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>

