<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.5aattiva.com.br">
                        5a attiva
                    </a>
                </li>
                <li>
                    <a href="http://www.5aattiva.com.br">
                       Quem somos
                    </a>
                </li>
                <li>
                    <a href="http://www.5aattiva.com.br/#/services/people">
                        Pessoas
                    </a>
                </li>
                <li>
                    <a href="http://www.5aattiva.com.br/#/services/technology">
                        Tecnologia
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, feito com muita técnica
            <a href="http://www.5aattiva.com.br" target="_blank">5a attiva</a> para o melhor do teste.
        </div>
    </div>
</footer>
