<div class="start-flex flex-end ">
    <div class="position-right">
        <button mat-fab color="success" (click)="onAddLog($event)" matTooltip="Cadastrar" matTooltipPosition="left">
            <mat-icon>add</mat-icon>
        </button>
    </div>

</div>

<div class="mt-3 pl-3 pr-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form class="example-form" [formGroup]="logGroup">
                    <mat-form-field class="example-full-width">
                        <mat-label>Filtro</mat-label>
                        <input matInput placeholder="Ex. IP  e  Request	Status" formControlName="filter">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="main-content-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Logs</h4>
                        <p class="card-category"> Consulta realizada</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Data
                                </th>
                                <th>
                                    IP
                                </th>
                                <th>
                                    Request
                                </th>
                                <th>
                                    Status
                                </th>
                                <th class="d-none d-sm-block">
                                    User Agent
                                </th>
                                <th>

                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let log of  logObservable | async">
                                    <td>
                                        {{log.data | date:'yyyy-dd-mm h:mm:ss.SSS'}}
                                    </td>
                                    <td>
                                        {{log.ip | mask: 'IP'}}
                                    </td>
                                    <td>
                                        {{log.request}}
                                    </td>
                                    <td>
                                        {{log.status}}

                                    </td>
                                    <td class="text-primary d-none d-sm-block">
                                        {{log.agent}}
                                    </td>
                                    <td>
                                        <button mat-icon-button  matTooltip="Detalhe" matTooltipPosition="above" color="primary" (click)="onDetails(log.id)">
                                            <mat-icon class="mat-18">reorder</mat-icon>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
